:root{
	--negro: #000000;
	--rojo: #f33c3c;
	--blanco: #ffffff;
	--gris-oscuro: #111111;
	--gris-claro: #999999;
  --negro: #1a191a;
}

body{
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
	font-family: 'Poppins', sans-serif;
	color: #fff;
  background-attachment: fixed;
}

main{
	width: 730px;
	margin: 40px auto 50px;
	display: flex;
	align-items: center;
}

.section1{
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0 10px 10px 10px;
	border-radius: 8px;
}

h1{
	text-align: center;
}

button{
	height: 100px;
	width: 100px;
	font-size: 40px;
	color: #000;
	font-weight: bold;
}

button:hover{
	cursor: pointer;
}

.section2{
	background-color: rgba(255, 255, 255, 0.2);
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	width: 250px;
	height: 470px;
	padding: 0 20px;
}

.estadisticas{
	border: 2px solid #fff;
	height: auto;
	border-radius: 8px;
	padding: 8px 20px;
	box-sizing: border-box;
}

img{
  width: 80%;
}

.carga-img{
  display: none;
}

@media (max-width: 768px){
  main{
    width: 100%;
    margin: 30px auto 0px;
    display: block;
    align-items: center;
  }

  button{
    height: 85px;
    width: 85px;
  }

  .section1{
    padding: 5px 10px 10px 10px;
  }

  .section2{
    border-radius: 8px;
    width: 100%;
    height: auto;
    padding: 0px;
    font-size: 12px;
  }

  h1{
    padding: 10px;
    margin: 0px;
    font-size: 25px;
  }

  *{
    cursor: none;
  }

  body{
    padding-top: 40px;
  }

  header{
    height: 60px;
  }

  .logo{
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
  }

  .container-a{
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: var(--rojo);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;

    height: calc(100% - 60px);
    overflow-y: auto;

    left: 100%;
    transition: left 0.3s;
  }

  .background-li{
    line-height: 70px;
  }

  .nav-menu-link{
    font-size: 21px;
  } 

  .nav-menu-link-background{
    font-size: 21px;
  }

  .nav-menu-link:hover{
    color: var(--negro);
  }

  .toggle{
    display: block;
  }

  .nav-menu_visible{
    left: 0;
  }

  .toggle:focus:not(:focus-visible){
    outline: none;
  }

}

@media (max-width: 768px){
  body{
      padding-top: 0px;
  }
}

@media (max-width: 400px){
  button{
    height: 80px;
    width: 80px;
  }
}

